#greeting,
#todo-list,
#todo-form {
  justify-content: center;
  color: white;
}
#todo-list {
  list-style: none;
  font-size: 20px;
  display: block;
}
li {
  display: flex;
}
#todo-form {
  margin-top: 10px;
  text-align: center;
  width: 15%;
  margin-left: 10%;
}
button {
  border: none;
  background-color: transparent;
  font-size: 20px;
}
.todo-box {
  position: fixed;
  background-color: transparent;
  border: 1px solid white;
  top: 33%;
  left: 5%;
  height: 45%;
  width: 20%;
  border-radius: 5%;
}
.delete {
  margin-left: auto;
  margin-right: 20px;
}
.todo-form1 {
  width: 15%;
}
